* {
  padding: 0;
  margin: 0;
}
body {
  font: 1em/1.5 "Avenir", "Avenir Next", Helvetica Neue, Arial;
  
}
main {
  padding: 32px;
}
p {
  max-width: 800px;
}
h1 {
  color: #492a7c;
  margin-bottom: 16px;
}
h2 {
  border-bottom: 2px solid #ccc;
  margin: 32px 0 16px;
  width: fit-content;
}
footer {
  padding-top: 16px;
  text-align: right;
}

body {
  margin: 40px;
}

.box {
  background-color: #fff;
  color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #fff;
  color: #444;
}

.wrapper {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 10px;
}

.box2 {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  /* outline: 2px solid red; */
  z-index: 10;
}
